*{
    box-sizing: border-box;
    margin:0;
    font-size: 18px;
}
body{
    padding: 2em;
}
img{
    width: 100%;

}

/* typography */

.title{
    color:navy;
    font-size: 0.9rem;
}
.scl__rating{
    color:goldenrod;
    
}
.votes{
   margin-left:0.5em;

}
.location__text{
    font-size: 0.75rem;
}
.left__text{
    font-weight: bold;
    font-size: 0.8rem;
}
.right__text{
    font-size: 0.8rem;
}

.fee__info{
    font-size: 0.75rem;
    margin-bottom: 1em;
}
.view__school{
    color:white;
    background-color: rgb(39, 39, 149);
    font-size:0.85rem;
    width: 10em;
    margin-bottom: 1.5em;
    
}
.review{
    border: 1px solid navy;
    color:  rgb(39, 39, 149);
    background-color: white;
    font-size:0.85rem;
    width: 10em;
    margin-bottom: 1.5em;
}
.get__call{
    display:flex;
    background-color: rgb(39, 151, 39);
    justify-content: space-around;
    width: 8.5em;
    margin-bottom: 1.5em;
    
}
.phone__logo{
    width: 1.75rem;
    margin: 0;
}
.call__text{
    font-size:0.85rem;
    padding-top: 5px;
    margin:0;
}

/* LAYOUT */
.star{
    width:18px;
}
.location__logo{
    width: 1rem;
    height: 100%;
    margin-right:4em
}
.container{
    
    border-radius:8px;
    max-width: 920px;
    margin: 0 auto;
    max-height: 280px;
    padding: 0.75em;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.img__container{
    width: 45%;
    height: 90%;
    margin-right:2em;
    
} 
.content__container{
    width: 45%;
    height: 90%;
    margin-right: 2em;
}
.btn__container{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
    
} 
.main__img{
    margin-bottom: 0.5em;
}
.subImg__container{
    display:flex;
    
}
.subImg{
    width: 33%;
    margin-right:0.2em;
}

.one__detail{
    display: flex;
    justify-content: space-between;
}
.ratings{
    display: flex;
    justify-content: space-between;
}
.rating__container{
    display:flex;
}

.location{
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0
}

.view__school{
 padding: 0.8em;
 border:none;

}
.review{
 padding: 0.7em;
}
.get__call{
   padding: 0.2em;
   border: none;
   color:white;
}

